body {
  margin: 0px;
  font-family: Montserrat, sans-serif;
}

header {
  background-image: url(../images/bg-banner-01.jpg);
  background-position: center;
  background-size: cover;
}

.header-area {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.logo img {
  width: 60px;
}

.menu {
  margin: auto;
  width: 241px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: rgb(88, 0, 183);
}

.menu ul li a:hover {
  text-decoration: underline;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 60px;
}
.search-bar input {
  flex: 1;
  border: 1px solid;
  border-radius: 60px;
  border-color: #f7d9ff;
}
::placeholder {
  color: whitesmoke;
  border-radius: 60px;
  border: none;
}
.search-bar button {
  border: 0;
  border-radius: 50%;
}

/* .banner {
} */

.banner-content {
  padding-top: 100px;
}

.banner-content {
  text-align: center;
}

.banner-content h1 {
  font-size: 40px;
  width: 200px;
  font-weight: 700;
  background: linear-gradient(
      90deg,
      rgb(88, 0, 183) 28%,
      rgb(159, 41, 164) 85%,
      rgb(186, 61, 155) 100%
    )
    text;
  -webkit-text-fill-color: transparent;
  margin: auto;
}

.banner-content h2 {
  font-size: 40px;
  font-weight: 200;
}

.banner-content p {
  font-size: 14px;
  font-weight: 300;
  color: rgb(101, 101, 101);
  width: 50%;
  margin: auto auto 30px;
  text-align: center;
}

.banner-content a {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px 13px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #ba3d9b,
    #5800b7,
    #bb03a9,
    #ba3d9b
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);

  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.banner-content a:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.banner-content a :focus {
  outline: none;
}

.banner-image {
  margin-top: 30px;
  text-align: center;
}

.banner-image img {
  width: 200px;
}
